@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css);@import url(https://cdnjs.cloudflare.com/ajax/libs/bootflat/2.0.4/css/bootflat.min.css);body {
  background-color: #f4f7f8;
}

body ul {
  list-style: none;
}

body .my-navbar {
  -webkit-box-align: center;
          align-items: center;
  background: #333;
  display: -webkit-box;
  display: flex;
  height: 6rem;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 0 2%;
  margin-bottom: 3rem;
}

body .my-navbar-brand {
  margin: 2rem 0 2.5rem 0;
  font-size: 18px;
}

body .my-navbar .my-navbar-brand,
body .my-navbar .my-navbar-item {
  color: #8c8c8c;
}

body .my-navbar .my-navbar-brand:hover,
body .my-navbar a.my-navbar-item:hover {
  color: #ffffff;
}

body .my-navbar .table td:nth-child(2),
body .my-navbar .table td:nth-child(3),
body .my-navbar .table td:nth-child(4) {
  white-space: nowrap;
  width: 1px;
}

body .my-navbar .form-control[disabled],
body .my-navbar .form-control[readonly] {
  background-color: #fff;
}

